body{
    background-color: skyblue
    
    
}


header{
    background-color: gray;
    display: inline-block;
    width: 98.5vw

}

@media (max-width:600px){
    

} 

h1{

    text-align: center;

}



#Link{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1% !important;
 
 }
 
 .Header_Div{

    flex-direction: column;


}

a{
    
    margin: 2px;

}
 
 div{
     
     text-align: center;
     display: flex;
     justify-content: space-between;
     
     /* background-color: gray;
     display: inline-block; */
 }
 

#message{

    height: 70px;
    width: 750px;

    /* align-self: start; */

    vertical-align: top;


 }

 input:nth-of-type(even){



 }